html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	/* font: inherit; */
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
    color: #000;
    font-weight: 400;
    line-height: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

.container {
    max-width: 1200px;
}

h2 {
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
}

/* ================================= HEADER ================================= */
/* Header-top */
.header {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);
}

.header img {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.header-top a {
    vertical-align: sub;
}

.header-top a span {
    font-size: 14px;
    margin: 0 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header-contact {
    display: flex;
    align-items: center;
}

.contact {
    padding-left: 27px;
}

.find-us {
    border-right: 1px solid #000;
    padding-right: 27px;
}

/* Header-main */
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header-main .content {
    font-size: 35px;
    line-height: 120%;
    text-transform: capitalize;
}

.icon-shopping {
    position: relative;
}

.header-main .icon-llipse {
    position: absolute;
    top: 0;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    top: 63px;
    right: 170px;
}

/* Header-bottom */
.header-bottom {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header-bottom .active::after {
    content: '';
    display: block;
    width: 23px;
    height: 2px;
    background: #FF4B85;
    margin: 0 auto;
    opacity: 1;
}

.header-bottom a::after {
    content: '';
    display: block;
    width: 23px;
    height: 2px;
    background: #FF4B85;
    margin: 0 auto;
    transition: all 0.5s;
    opacity: 0;
}

.header-bottom a:hover::after {
    opacity: 1;
}

/* ================================= SLIDER  ================================= */
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.carousel-indicators [data-bs-target].active {
    width: 41px;
    border-radius: 12px;
}

.slider .carousel {
    margin-top: 0;
}




/* ================================= CAROUSEL  ================================= */
.carousel {
    margin-top: 27px;
    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #FF4B85;
    top: 50%;
    border-radius: 60px;
}

.carousel-control-prev {
    margin-left: 146px;
    transform: rotate(180deg) translateY(50%);
}

.carousel-control-next {
    margin-right: 146px;
    transform: translateY(-50%);
}

.carousel-control-next img {
    width: 12.5px;
    height: 25px;
}

/* ================================= TRENDING  ================================= */
.trending {
    margin-top: 72px;
}

.card {
    cursor: pointer;
    border: none;
}

.card:hover button{
    opacity: 1;
}

.trending-item {
    margin-bottom: 30px;
}

.trending img {
    display: flex;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 40px;
}

.card-header {
    background-color: #fff;
    border-bottom: none;
}

.card-header span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
}

.card-header h4 {
    margin-top: 8px;
    margin-bottom: 20px;
}

.card-body h4 {
    margin-top: 32px;
    margin-bottom: 11px;
}

.card-body img {
    position: relative;
    margin: 0;
}

.card-body p {
    position: absolute;
    z-index: 1;
    margin-top: 21px;
    margin-left: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.card-body .new {
    background: #BBC667;
}

.card-body .heart {
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 238px;
}

.card-body .eye {
    position: absolute;
    z-index: 1;
    margin-top: 235px;
    margin-left: 238px;

}

.card-footer {
    border-top: 0;
    background-color: #fff;
}

.card-footer button {
    color: #FF4B85;
    margin: 15px 0;
    opacity: 0;
    transition: all 0.5s;
    border: none;
    background: #fff;
    padding: 0
}

.btn-view-all {
    display: flex;
    height: 40px;
    border: 1px solid #D7D7D7;
    align-items: center;
    margin: 0 auto;
    background: #fff;
    color: rgba(0, 0, 0, 0.50);
    padding: 10px 91px;
    margin-top: 14px;
    margin-bottom: 55px;
}

.trending .hide {
    display: none;
}


/* ================================= SELLING  ================================= */
.selling h2 {
    text-align: left;
    margin-top: 61px;
    margin-bottom: 44px;
}

.selling img {
    position: relative;
}

.selling-item {
    margin-bottom: 30px;
}

.selling .carousel-item h1,
.selling .carousel-item p,
.selling .carousel-item span
 {
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selling .carousel-item h1 {
    font-size: 60px;
    top: 206px;
}

.selling .carousel-item p {
    font-size: 32px;
    bottom: 262px;
}

.selling .carousel-item span {
    font-size: 20px;
    bottom: 204px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
}

.card-body .sale {
    background: #ff0000;
}

/* .selling .card-img-top {
    width: 276px;
    height: 276px;
} */

.selling .hide {
    display: none;
}



/* ================================= SUPPOER  ================================= */
.support {
    margin-top: 73px;
}

.support-content {
    height: 197px;
    background: #FFF1FB;
    align-items: center;
}

.support-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-item img {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.support-item p {
    font-size: 20px;
    margin-bottom: 8px;
} 

.support-item span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
}

/* ================================= BLOG  ================================= */
.blog h2 {
    margin-top: 42px;
    margin-bottom: 47px;
}

.blog-item {
    margin-bottom: 30px;
}

.blog-item.hide {
    display: none;
}

.blog .card img {
    border-radius: 0;
}

.blog .blog-content h3 {
    font-size: 24px;
    margin-top: 16px;
}

.blog .blog-content span {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
}

.blog .blog-content p {
    margin: 16px 0;
    color: rgba(0, 0, 0, 0.70) !important;
    line-height: normal;
}

.blog .blog-content button {
    background: #fff;
    border: none;
    padding: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

#more1, #more2, #more3, #more4 {
    display: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
}

/* ================================= BANNER 2  ================================= */
.banner2 img {
    margin: 41px 0;
    width: 100%;
}

/* ================================= FOOTER  ================================= */
/* Footer-top */
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer-top-content h3 {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 8px;
}

.footer-top-content p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    line-height: normal;
    width: 291px;
}

.footer-top-search {
    position: relative;
}

.footer-top-search input {
    width: 385px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    opacity: 0.5;
    /* padding: 10px; */
    padding-left: 10px;

}

.footer-top-search input::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
}

.footer-top-search img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}

/* Footer-bottom */
.footer-bottom {
    border-top: 0.5px solid rgba(0, 0, 0, 0.20);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.20);
    padding-top: 24px;
    padding-bottom: 46px;
}

.footer-bottom-item h2 {
    margin-bottom: 20px;
    text-align: left;
}

.footer-bottom-item p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    line-height: normal;
}

.footer-bottom-item .social {
    margin-top: 50px;
}

.footer-bottom-item .social img {
    width: 32px;
    height: 32px;
    margin-right: 24px;
}

.footer-bottom-item h3 {
    margin-bottom: 20px;
}

.footer-bottom-item ul li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 12px;
}

/* Footer-bottom */
.footer-copyright,
.footer-copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    margin: 16px 0;
}

.footer-copyright p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
}

.footer-copyright-content p:nth-child(2) {
    margin-left: 36px;
}


/*============================= RESPONSIVE /*=============================*/
@media screen and (max-width: 414.9px) {
    h2 {
        font-size: 30px;
    }
}


/* HEADER */
@media screen and (max-width: 1024px) {
    .header-main .icon-llipse {
        right: 10px;
    }
}

@media screen and (max-width: 414.9px) {
    .find-us {
        padding-right: 10px;
    }

    .contact {
        padding-left: 10px;
    }

    .header-top a span {
        margin: 0;
    }

    .header-bottom {
        gap: 20px;
    }


}

@media screen and (max-width: 375.9px) {
    .header-bottom {
        gap: 10px;
    }
}

/* SLIDER */
@media screen and (max-width: 414.9px) {
    .carousel-item img {
        height: 303px;
    }
}

/* CAROUSEL */
@media screen and (max-width: 1024px) {
    .carousel-control-next {
        margin-right: 0;
    }
    .carousel-control-prev {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        width: 35px;
        height: 35px;
    }

    .carousel-control-prev img, .carousel-control-next img {
        width: 10px;
        height: 15px;
    }
}

/* TRENDING */

@media screen and (max-width: 1024px) {
    .card-body .heart {
        margin-top: 160px;
        margin-left: 190px
    }

    .card-body .eye {
        margin-top: 192px;
        margin-left: 190px
    }
}

@media screen and (max-width: 768px) {
    .card-body .heart {
        margin-top: 115px;
        margin-left: 125px;
        width: 20px;
    }

    .card-body .eye {
        width: 20px;
        margin-top: 138px;
        margin-left: 125px
    }

    .card-body .new {
        margin-top: 10px;
        margin-left: 8px
    }
}

@media screen and (max-width: 600px) {
    .card-body .heart {
        margin-top: 195px;
        width: 28px;
        margin-left: 220px;
    }

    .card-body .eye {
        width: 28px;
        margin-left: 220px;
        margin-top: 230px;
    }
}

@media screen and (max-width: 414.9px) {
    .card-body .heart {
        margin-top: 115px;
        margin-left: 140px;
        width: 20px;
    }

    .card-body .eye {
        margin-top: 140px;
        margin-left: 140px;
        width: 20px;
    }
}

@media screen and (max-width: 375.9px) {
    .card-body .heart {
        width: 20px;
        margin-top: 110px;
        margin-left: 125px;
    }

    .card-body .eye {
        margin-left: 125px;
        margin-top: 130px;
        width: 20px;
    }
}

/* BANNER1 */
@media screen and (max-width: 1024px) {
    .banner1.container {
        padding: 0;
    }

    .banner1 img {
        width: 100%;
    }
}

@media screen and (max-width: 414.9px) {
    .banner1 img {
        height: 303px;
    }
}

/* SELLING */
@media screen and (max-width: 1024px) {
    .selling .carousel-item h1 {
        top: 170px;
    }

    .selling .carousel-item p {
        bottom: 210px;
    }

    .selling .carousel-item span {
        bottom: 155px;
    }
}

@media screen and (max-width: 768px) {
    .card-body .sale {
        margin-top: 10px;
        margin-left: 8px
    }

    .selling img {
        width: 163.8px;
    } 

    .selling .carousel-item h1 {
        top: 120px;
    }

    .selling .carousel-item p {
        bottom: 135px;
    }

    .selling .carousel-item span {
        bottom: 80px;
    }

    
}

@media screen and (max-width: 600px) {
    .selling .carousel-item h1 {
        font-size: 80px;
        margin-top: 140px;
    }

    .selling .carousel-item p {
        font-size: 40px;
        bottom: 286px;
    }

    .selling .carousel-item span {
        bottom: 215px;
    }

    .selling img {
        margin-bottom: 30px;
        /* width: 100%; */
    }

    .selling .card-img-top {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 414.9px) {
    .selling .carousel-item h1 {
        font-size: 60px;
        margin-top: -18px;
    }

    .selling .carousel-item p {
        font-size: 30px;
        bottom: 145px;
    }

    .selling .carousel-item span {
        bottom: 80px;
    }
}

/* SUPPORT */
@media screen and (max-width: 414.9px) {
    .support-content {
        height: auto;
        gap: 30px;
    }

    .support-item {
        flex-direction: column;
        
    }

    .support-item:nth-child(1) {
        margin-top: 30px;
    }

    .support-item:nth-child(3) {
        margin-bottom: 30px;
    }
}

/* BANNER2 */
@media screen and (max-width: 414.9px) {
    .banner2 img {
        height: 303px;
    }
}


/* FOOTER */
@media screen and (max-width: 1024px) {
    .footer-bottom-item .social {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .footer-top-search input {
        width: 300px;
    }

    .footer-bottom-item .social {
        flex-wrap: wrap;
        gap: 15px 0;
        margin-top: 25px;
    }

}

@media screen and (max-width: 600px) {
    .footer-top-search input {
        width: 250px;
    }
}

@media screen and (max-width: 414.9px) {
    .footer-top {
        display: block;
    }

    .footer-top-content h3 {
        font-size: 25px;
    }

    .footer-top-content p {
        width: 100%;
    }

    .footer-top-content {
        margin-bottom: 30px;
    }

    .footer-top-search input {
        width: 100%;
    }

    .footer-bottom-item, .footer-bottom-item h2 {
        text-align: center;
    }

    .footer-bottom-item .social img {
        margin-right: 10px;
    }

    .footer-bottom-item:nth-child(3), .footer-bottom-item:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 375.9px) {
    .footer-bottom-item .social {
        gap: 15px;
    }
}




